{% load static %}
<section id="service" class="site-section section-services overlay text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>What i do</h3>
                <img src="{% static 'img/lines.svg' %}" class="img-lines" alt="lines">
            </div>
            <div class="col-sm-4">
                <div class="service">
                    <img src="{% static 'img/consultancy.svg' %}" alt="Coding">
                    <h4>Data Science</h4>
                    <p>As a Data scientist, during my scientific journey I learned a lot of concepts and developed a lot of skills, such us : Expert Systems Developments, Knowledge-based system, Data integration, data analysis, Data mining and Text Mining,
                        Machine learning</p>
                </div>
                <!-- /.service -->
            </div>
            <div class="col-sm-4">
                <div class="service">
                    <img src="{% static 'img/front-end.svg' %}" alt="Front End Developer">
                    <h4>Front-end</h4>
                    <p>As a javascript developer, I have experience in HTML5 and CSS3 techniques working with jQuery or more advanced javascript MVC frameworks such as angular</p>
                </div>
                <!-- /.service -->
            </div>
            <div class="col-sm-4">
                <div class="service">
                    <img src="{% static 'img/back-end.svg'%}" alt="Back End Developer">
                    <h4>Back-end</h4>
                    <p>Utilising python frameworks such as Django and Flask. creating bespoke code, I've creating a full functionality website Projects on Car Dealer Shop, Tech-News Blog and also My personal portfolio from these back-end technologies</p>
                </div>
                <!-- /.service -->
            </div>

        </div>
    </div>
</section>